.git
.gitignore
.dockerignore
.env
.env.*
!.env.example

node_modules
dist
src/prismaClient

npm-debug.log
*.log
coverage
.nyc_output

.vscode
.claude
.agents
postman
*.md
*.png
*.json
!package.json
!package-lock.json
!tsconfig.json
tsconfig.tsbuildinfo

